<h1>Would You Rather?</h1>

<%= link_to "New Question", new_question_path, id: "new_link", remote: true  %>


<div class="row">

  <% if @questions.any? %>
    <% @questions.each do |question| %>
      <div class="col-sm-8">
        <div class="questions">

          <%= link_to question.topic, root_path %>

            <div class="row">
              <div class="col-sm-4">
                <div class="answer">
                  answer
                </div>
              </div>
              <div class="col-sm-3">
                <div class="votes">
                  votes
                </div>
              </div>
              <div class="col-sm-4">
                <div class="answer">
                  answer
                </div>
              </div>
            </div>

        </div>
      </div>

      <div class="col-sm-4">
        <div class="row">
          <div class="comment_form">
            comment 1

          </div>

        </div>
        <div class="row">
          comment 2
        </div>
      </div>
    <% end %>
  <% end %>
</div>
