
<%= form_for [@question, @answer] do |f| %>
  <div class="form-group">
    <%= f.label :text %>:<br>
    <%= f.text_field :text %>
  </div>
  <p><%= f.submit :class => "btn btn-success" %></p>
<% end %>
